<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.axzed.mapper.EmpMapper">

    <resultMap id="emp" type="EmpInfo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="education" property="education"/>
        <result column="address" property="address"/>
        <result column="card_id" property="cardId"/>
        <result column="create_date" property="createDate"/>

        <association property="deptInfo" javaType="deptInfo">
            <result column="dname" property="name"/>
        </association>

        <association property="jobInfo" javaType="jobInfo">
            <result column="jname" property="name"/>
        </association>
    </resultMap>

    <select id="pageByCondition" resultMap="emp">
        SELECT ei.*, di.`name` dname,ji.`name` jname FROM employee_inf  ei
        LEFT JOIN dept_inf  di on  ei.dept_id = di.id
        LEFT JOIN job_inf ji on ei.job_id = ji.id
        <where>
            <if test="name !=null and name !=''" >
                ei.name like "%" #{name} "%"
            </if>
        </where>
    </select>


</mapper>